#asd {
  position: fixed;
  z-index: -1;

}

.bgImage {
  background: url(assets/images/img.png) no-repeat center center;
background-size: cover;
}

.bac{
  background: rgb(153,89,51)
}
.vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 2px !important;
    background: rgb(153,89,51) !important;
}

.checkbox > label {
    color: white !important
}

.accordion {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    padding: 10px;
}
